@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --bg-color: hsl(0, 0%, 100%);
    --header-color: hsl(234, 12%, 34%);
    --text-color: hsl(212, 6%, 44%);
    --red: hsl(0, 78%, 62%);
    --orange:hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --green: hsl(180, 62%, 55%);
    --font-size: 15px;

}

body {
    background-color: var(--bg-color);
    font-family: Poppins, sans-serif;
    font-size: var(--font-size);
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    padding-top: 70px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    align-items: center;
}

.card {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    box-shadow: 0.5px 1px 10px var(--text-color);
    border-radius: 5px;
    text-align: left;
    padding: 30px;
    
    position: relative;
    box-sizing: border-box;

    width: 350px;
    height: 250px;
    margin: 0;
    
}

main > p {
    max-width: 520px;
    margin: 20px 0 75px;
}

#green {
    border-top: 4px solid var(--green);
    grid-column: 1;
    grid-row: 1;
    transform: translateY(140px);
}

#red {
    border-top: 4px solid var(--red);
    grid-column: 2;
    grid-row: 1;
}

#orange {
    border-top: 4px solid var(--orange);
    grid-column: 2;
    grid-row: 2;
}

#blue {
    border-top: 4px solid var(--blue);
    grid-column: 3;
    grid-row: 1;
    transform: translateY(140px);
}
h1 {
    color: var(--text-color);
    font-weight: 200;
    margin: 0;
}

.head {
    color: var(--header-color);
    font-weight: 600;
    margin: 0;
}

h3 {
    color: var(--header-color);
    
}

p {
    color: var(--text-color);
}

.card p {
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 100px;
}

.card img {
    position: absolute;
    bottom : 20px;
    right: 20px;
    margin: 10px;
}

@media (max-width: 600px) {
    
}